/* css  for navigation*/
nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: rgb(167, 161, 154);
  height: 6%;
}
a{text-decoration: none;
text-align: center;
}

nav a {
  float: right;
  text-decoration: none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 20px;
  
}
/* css for the lists */
ul li {
  
  display: inline-block;
  list-style: none;
  flex-direction: row;
  
}
/* styling the logo */
div .logo{
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-right: 0px;
  float: left;
}
div .logo, img{
  width:250px;
  height:250px;
  float: left;
  
}
/* body styling */
body {  
    border: darkslategray;
    text-align: center;
    margin: 0%;
    margin-right: 300px;
    margin-left: 300px;
    height: auto;
    padding: 5%;   
    background-image: url('https://picsum.photos/id/1031/5446/3063.jpg?hmac=Zg0Vd3Bb7byzpvy-vv-fCffBW9EDp1coIbBFdEjeQWE')
}  
  
  /* Change the link color to color on hover */
  li a:hover {
    background-color: rgb(0, 0, 0);
  }

  /* 2nd Heading */

h2{

    padding: 0%;
    text-size-adjust: 50;
    color: rgb(0, 0, 0);

  
}
iframe{
  
    border: 25 solid black;
    box-sizing: border-box;
    border-radius: 10%;
  
    
}

h1{
    text-size-adjust: 50 px;
    color: rgb(243, 239, 239);
}
h3{
    margin: 0%;
}
head{
    margin-left: 35%;
}
/* css for testimonials */

body {
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background.jpeg'); 
    place-items: center; 
  
  
  
   }
    
    .flip-card {
    
      display: inline-flex;
      background-color: transparent;
      border-radius: 55%; 
      width: 250px;
      height: 250px;
      perspective: 1000px;
      margin-left: 0;
      margin-right: 0;
    }
    
    .flip-card-inner {
      border-radius: 55%;
      position: relative;
      width: 250px;
      height: 250px;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(141, 125, 125, 0.2);
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 250px;
      height: 250px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      margin-left:  0;
      margin-right: 0;
      
      
    }
    
    .flip-card-front {
      
      color: black;
      border-radius: 55%;
      height: 50px;
      width: 250px;
    }
    
    .flip-card-back {
      border-radius: 55%; 
      height: 300px;
      width: 300px;
      background-color: #434347;
      color: white;
      padding: 30px;
    
      transform: rotateY(180deg);
    }
    * {
      box-sizing: border-box;
      margin-top: 0;
    } 
    /* align the cards*/
    
    div .grid-container { 
  
       float: left; 
       width: 100%; 
      
       display: grid;
  
     }

    img{
      border-radius: 55%;
      
    }

h1{
    color: rgb(241, 234, 234);
    text-decoration: none;
  } 

  /* grid styling */
  .grid-container {
    row-gap: 60px;
    column-gap: 60px;
   
    display: grid;
    grid-template-columns: auto auto auto;
    
    justify-content: space-evenly;
  
  }
  .grid-item {
    
    border: 10px transparent rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    margin: 10px
  
  }


  /* styling the form */
  
  button {
    background: rgb(9, 184, 53);
    box-sizing: border-box;
    border-radius: 10%;
    margin-bottom: 2%;
    border-width: 20px;
    place-items: center;
    
  
  }  

}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  padding-right: 0%;
  padding-left: 0%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select, textarea {
width: 100%;
padding: 12px;
padding-right: 0%;
padding-left: 0%;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
background-color: #04AA6D;
color: white;
padding: 12px 20px;
border: none;  margin: 0px;
border-radius: 6px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
padding-left: 0px;
padding-right: 0px;
width: 700px;
margin-left: 0px;
margin-right: 0px;
} 
#contact-form{
  padding-right: 0px;
  padding-left: 0px;
  
}
content{
  place-items: center;
}
/* heading of about */

/*Media Queries */

@media only screen and (max-width: 480px) {
iframe {
 width: 40%;
 height: auto;
  }
  

}